*{
  padding: 0;
  margin: 0;
}

/*google  font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common style or utilitis */
body{
    font-family: 'Poppins', sans-serif;
    background-color: rgba(255, 255, 255, 1)
    ;
}

/* -------------
        banner part css start here 
-------------------------------------------*/
.heade-part{
    background-color: #2D25A0;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.banner-top{
   display: grid; 
   grid-template-columns: repeat(2, 1fr);
   grid-row-gap: 26px;
}
h1{
    font-size: 50px;
    line-height: 80px;
    padding-top: 90px;
}
.anchor a{
    text-decoration: none;
    background: linear-gradient(45deg, rgb(167, 7, 7), rgba(230, 17, 17, 0.774));
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 400;
    font-size: 16px;
}
a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 40px;
  }
  
  a:hover, a:active {
    background-color: red;
  }
.first-part img {
    width: 560px;
    height: 460px;
    padding: 80px 0;
}
.fa, .fas {
    font-weight: 900;
    margin-left: 10px;
}

/* -----------------
      banner photo transation effect css
      ---------------------------------------------- */
      .container {
        position: relative;
        width: 100%;
      }
      
      .image {
        display: block;
        width: 100%;
        height: auto;
      }
      
      .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 550px;
        width: 650px;
        opacity: 0;
        transition: .5s ease;
        background-color: #811133b2;
      }
      
      .container:hover .overlay {
        opacity: 1;
      }
      
      .text {
        color: white;
        font-size: 50px;
        font-weight: 700;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
      }


/* -------------
        banner part css End here 
-------------------------------------------*/
#card-payer-list{
  margin: 30px 200px;
  padding: 30px 0;
}
/* card part css */
.image-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    margin: 0 auto;  
}
.Card-payer-list{
    width: 870px;
    overflow: hidden;
     display: flex;
    /* max-width: 80%; */
    /* width: 100%; */
    margin: 0 auto;
    justify-content: center;
    display: flex;
    margin-left: auto;
   margin-right: auto;
    
}
.card img{
    width: 300px;
    height: 256px;
    margin-top: 70px;
}
.card {
    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 70%;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  .b {
      padding-left: 30px;
  }
.heading,{
  margin-top: 5px;
  font-size: 28px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
}
.p{
  font-size: 16px;
  font-weight: 400;
  margin-top: 5px;
  font-family: 'Poppins', sans-serif;
}
/* .paragrap{
  font-size: 16px;
  font-weight: 400;
  margin-top: 5px;
} */


h2, p {
    /* padding: 20px 20px; */
}


/* ===================
          about part css start here 
============================================= */
.our-team{
  margin-top: 40px;
}
html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }
  
  .about-section {
    padding: 50px;
    text-align: center;
    background-color: #2D25A0;
    color: white;
    margin: 0 auto;
    justify-content: center;
  }
  
  .container {
    padding: 0 16px;
    /* width: 886px; */
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: rgb(216, 13, 13);
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }
  
  /*--------------------
            Contact us css part start here
        --------------------------------------- */
 input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  }
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }

  .container {
    border-radius: 5px;
    /* background-color: #f2f2f2; */
    padding: 20px;
  }       
/* ----------------------
      footer part start her
           ----------------------*/
.footer-logo img{
    display: block;
    margin-left: auto;
   margin-right: auto;
    /* width: 50%; */
    height: 110px;
    text-align: center;
    margin-top: 100px;
}
.footer-part p{
    align-items: center;
    justify-content: center;
}
.icon_part{
    display: block;
    margin-left: auto;
   margin-right: auto;
    /* width: 50%; */
    height: 110px;
    text-align: center;
    /* margin-top: 100px; */
}

/* -------------
        media quary css part start here
   -----------------------------------------*/

/* ---------------
        mobile device
----------------------------- */
@media only screen and (max-width:688px) {
   .container{
    width: 100%;
   }
  .first-part{
    background-color: saddlebrown;
    grid-template-columns: repeat(1, fr);
    flex-direction: column;
    display: block;
  }
  .heade-part, .image-container, .about-section {
    background-color: rgb(25, 185, 73);
    grid-template-columns: repeat(1, fr);
    flex-direction: column;
    display: block;
  }

}

/* ------------------------
         form responsive media Query 
        ---------------------------- */

        @media screen and (max-width: 688px) {
          .column {
            width: 100%;
            display: block;
          }
        }



/* tablet devices */

@media only screen and (min-width: 688px) and (max-width:992px) {
  .container{
    width: 100%;
   }
  .first-part{
    background-color: rgb(19, 47, 139);
    grid-template-columns: repeat(2, fr);
    /* flex-direction: column; */
    display: block;
  }
  .heade-part, .image-container, .about-section {
    /* background-color: rgb(148, 15, 121); */
    grid-template-columns: repeat(2, fr);
    
  }

}











  @media only screen and (min-width: 688px) and (max-width:992px) {
    .column {
      width: 100%;
      display: block;
    }
  }













